<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../ejs/header.ejs%>
</head>
<body>
<% if (!validated) { %>
    <%- include ../ejs/loginPage.ejs %>
<% }else{ %>

<% switch(page) {
    case 'itemsystem': %>
    <% var data = items%>
    <%- include ../ejs/itemsystemPage.ejs %>

<% break;
    case 'turtlesystem': %>
    <% if (turtleList !== "nil") { %>
        <% data = turtleList.split(",")%>
        <%- include ../ejs/turtlesystemPage.ejs %>
    <% }else{ %>
        <%- include ../ejs/indexPage.ejs %>
    <%}%>

<% break;
    case 'index': %>
<% default: %>
    <%- include ../ejs/indexPage.ejs %>

<% break;
    }} %>
</body>
</html>